# Data & models (keep these in shared Drive, not git)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
venv/

# OS
.DS_Store
